.message-list{
    list-style-type: none;
    overflow-y: scroll;
    height: 570px;
    overflow-x: auto;
}

.message-list div {
    margin-left: -25px;
}

.sender{
    color: blue;
}

.recipient{
    color: red;
}

.message{
    margin: 0px 0;
    background-color: #303f9f;
    padding: 4px 8px;
    border-radius: 8px;
    color: White;
    white-space: pre-wrap;
    overflow: hidden;
}

.date{
    color: darkgray;
    font-size: 10px;
}